@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  /* background: rgba(146, 146, 146, 0.266);
  outline: dotted 2px; */
  text-decoration: none;
}

html {
  background: white;
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.header {
  flex-direction: column;
  background-image: url(images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
  align-items: center;
}

.header__navigation {
  justify-content: space-between;
  padding: 1rem 3rem;
  align-items: center;
  width: 100%;
}

.header__logo {
  width: 10rem;
  padding: 0 1rem 0 0;
}

.header__wrapper {
  gap: 1rem;
  align-items: center;
}

.header__link {
  color: white;
}

.header__link.contact {
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-family: "Fraunces", serif;
  color: #12151c;
}

.header__link.contact:hover {
  background: #6dcfff;
  color: white;
}

.header__heading {
  text-align: center;
  font-size: 3rem;
  color: white;
  padding: 2rem 1rem 3rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.header__arrow {
  width: 1.5rem;
  align-self: center;
  margin-top: 5rem;
}

.header__hamburger {
  position: relative;
  display: none;
}

.header__hamburger-icon {
  cursor: pointer;
}

.header__nav-mobile {
  position: absolute;
  margin: 2rem 0;
  right: 0rem;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem 2rem;
  background: white;
  display: none;
}

.header__nav-mobile::after {
  content: "";
  position: absolute;
  top: -1.2rem;
  right: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-right: 24px solid #fff;
}

.header__link.mobile {
  color: #83828a;
}

.header__link.mobile.contact {
  background: #fbd700;
  color: #12151c;
}

.transform {
  grid-template-columns: 1fr 1fr;
}

.transform__main {
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 0 20%;
}

.transform__heading {
  color: #253340;
}

.transform__paragraph {
  color: #83828a;
}

.learn-more {
  color: #12151c;
  width: fit-content;
  position: relative;
  font-family: "Fraunces", serif;
}

.transform__learn:hover::after {
  background-color: yellow;
}

.transform__learn::after {
  content: "";
  z-index: -1;
  width: 100%;
  height: 0.5rem;
  position: absolute;
  left: 0;
  top: 68%;
  border-radius: 1rem;
  transition: 0.15s;
  background-color: rgba(255, 255, 0, 0.3);
}

.transform__hero {
  min-width: 100%;
}

.stand-out {
  grid-template-columns: 1fr 1fr;
}

.stand-out__main {
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 0 20%;
}

.stand-out__heading {
  color: #253340;
}

.stand-out__paragraph {
  color: #83828a;
}

.stand-out__learn:hover::after {
  background-color: red;
}

.stand-out__learn::after {
  content: "";
  z-index: -1;
  width: 100%;
  height: 0.5rem;
  position: absolute;
  left: 0;
  top: 68%;
  border-radius: 1rem;
  transition: 0.15s;
  background-color: rgba(255, 0, 0, 0.3);
}

.stand-out__hero {
  min-width: 100%;
}

.cherry-orange {
  grid-template-columns: 1fr 1fr;
}

.cherry-orange__half {
  padding: 25rem 20% 10% 20%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: rgba(0, 0, 0, 0.6);
}

.cherry-orange__cherry {
  background-image: url(images/desktop/image-graphic-design.jpg);
}

.cherry-orange__orange {
  background-image: url(images/desktop/image-photography.jpg);
}

.cherry-orange__heading {
  padding: 0 0 1rem 0;
}

.testimonials {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
}

.testimonials__heading {
  padding: 0 0 2rem 0;
  color: #83828a;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.testimonials__wrapper {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.testimonials__testimony {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
}

.testimonials__image {
  width: 4rem;
  border-radius: 4rem;
}

.testimonials__paragraph {
  padding: 1rem 0;
  color: #606368;
}

.testimonials__name {
  font-size: 1.2rem;
  color: #253340;
}

.testimonials__title {
  font-size: 0.8rem;
  color: #83828a;
}

.image-group {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0 3rem 0;
  background: #90d4c5;
}

.footer__logo-fill {
  fill: #226b5a;
}

.footer__nav {
  gap: 2.5rem;
  padding: 2rem 0 3rem 0;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__link {
  color: #226b5a;
}

.footer__link:hover {
  color: white;
}

.footer__social-media {
  gap: 1rem;
}

.footer__social-link:hover .footer__social-icon {
  fill: white;
}

@media only screen and (max-width: 785px) {
  .header__heading {
    font-size: 2rem;
  }

  .header__navigation {
    padding: 1rem;
  }
}

@media only screen and (max-width: 980px) {
  .header__hamburger {
    display: block;
  }

  .header__link.desktop {
    display: none;
  }

  .transform {
    display: flex;
    flex-direction: column;
  }

  .transform__main {
    text-align: center;
    align-items: center;
    padding: 20%;
  }

  .stand-out {
    display: flex;
    flex-direction: column-reverse;
  }

  .stand-out__main {
    text-align: center;
    align-items: center;
    padding: 20%;
  }

  .cherry-orange {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .testimonials__heading {
    text-align: center;
  }

  .testimonials__wrapper {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .image-group {
    grid-template-columns: 1fr 1fr;
  }
}
